<style>
         body {
           background-color: black;
         }
         h1 {
           color: white;
           text-align: center;
           font-size: 40px;          

           
         }
         p {
           font-size: 26px;
           color: green;
                    }
      </style>